[init]
	defaultBranch = main

[pull]
	rebase = true

[fetch]
	prune = true

[push]
	autoSetupRemote = true
	followTags = true

[merge]
	conflictStyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = zebra

[core]
	excludesFile = ~/.config/git/ignore
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	hyperlinks = true

[rerere]
	enabled = true
	autoupdate = true

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[alias]
	co = switch
	ci = commit
	st = status --short --branch
	lg = log --oneline --decorate --graph
	last = log -1 HEAD --stat
	unstage = restore --staged
	amend = commit --amend --no-edit
